# Build artifacts
bin/
obj/
*.pdb
*.cache

**/wwwroot/canvas
**/Animations/

# npm
node_modules
package-lock.json

# Logs
*.log
logs/

# IDE files
.vs/
*.suo
*.user
*.userosscache
*.ntvs*
*.njsproj

# OS files
# mac
.DS_Store

# Environment / secrets
.env
*.local
