@page "/"
@model CanvasModel
@{
    ViewData["Title"] = "Canvas";
}

<div>
    <h1 class="display-4">Canvas</h1>

    <button class="btn btn-primary" id="clearButton">Clear</button>

    @* <canvas class="canvas" id="canvasArea"></canvas> *@

    <script type="module" src="~/js/DTOs/ImageDataDTO.js"></script>
    <script type="module" src="~/js/canvasService.js"></script>
    <script type="module" src="~/js/Types/Vertex.js"></script>
    <script type="module" src="~/js/draw.js"></script>
</div>
