@page "/"
@model CanvasModel
@{
    ViewData["Title"] = "Canvas";
}

<div>
    <h1 class="display-4">Canvas</h1>

    <button class="btn btn-primary" id="clearButton">Clear</button>

    <script src ="~/lib/p5/p5.js"></script>
    <script src="~/js/canvas.js"></script>
</div>
